/*
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */

singularity {
  enabled = true
}
process {
  container = 'chipseq-nf.img'
  cpus = 2
  memory = 7.GB
  time = 48.h
}
