/*
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */

singularity {
  enabled = true
}

process {
  container = '/home/smonzon/Documents/projects/SRVCNM063_20180219_SPNEUMONIAECHIPSEQ_MJF_S/ANALYSIS/test_nf/chipseq-nf.img'
}

env {
	LC_ALL = "en_US.utf8"
	LANG = "en_US.utf8"
}
